{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title> 登录 </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap_ori.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
  </head>
  <body role="document">


    <div class="container">
      <form action="" method="POST" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputUsername" class="sr-only"> 用户名 </label>
          <input name="username" id="inputUsername" class="form-control" placeholder="用户名" required autofocus />
        <label for="inputPassword" class="sr-only"> 密码 </label>
          <input name='password' type="password" id="inputPassword" class="form-control" placeholder="密码" required />
        <div class="checkbox">
        <label>
          <input type="checkbox" name="remember"> 记住我
        </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
      </form>

    </div> <!-- /container -->


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
  </body>
</html>
